*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Conteiner do cabeçalho */
header{
    width: 100%;
    height: 18vh;
    background-image: linear-gradient(#0E2F59, #416BBF);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    box-shadow: 0 5px 10px #416BBF;
}
#logo{
    height: 16vh;
}
/* Estilização do menu */
nav{
    height: 15%;
    text-transform: uppercase;
}
.menu {
    list-style: none;
    float: left;
}

.menu li {
    position: relative;
    float: left;
    border-right: 1px solid #F2F2F2;
}
.menu li a {
    color: #F2F2F2;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    font-size: 120%;
    font-weight: bold;
}
.menu li a:hover {
    background: #0E2F59;
    text-shadow: 0px 0px 5px #F2F2F2;
}
.menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    display: none;
}
.menu li:hover ul{
    display: block;
    background-image: linear-gradient(#0E2F59, #416BBF);
}
.menu li ul li {
    display: block;
    width: 100%;
}
/* Ajustes do formulário */
form{
    width: 14vw;
}
input{
    width: 7vw;
    font-size: 100%;
    border-radius: 5%;
}
button{
    padding-left: 2%;
    padding-right: 2%;
    font-size: 100%;
    color: #0E2F59;
    border-radius: 5%;
}
#darkmode, #letra_aumenta, #letra_diminui{
    height: 4vh;
}
/* Estilização do rodapé */
footer{
    width: 100%;
    height: 12vh;
    background-image: linear-gradient( #416BBF,#0E2F59);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #F2F2F2;
    font-size: 120%;
    box-shadow: 0 -5px 10px #416BBF;
}
.img_footer{
    height: 5vh;
}

/* ATENÇÃO ESTILIZAÇÃO DA MAIN, NÃO FAZ PARTE DAS DEMAIS PÁGINAS */
main{
    width: 100%;
    background-color: #F2F2F2;
}
#banner{
    width: 100%;
    height: 50vh;
    box-shadow: 0 5px 10px #416BBF;
}
.conteudo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
}
.img_main{
    width: 35%;
    box-shadow: 0 5px 10px #0E2F59;
    margin-top: 5%;
    margin-bottom: 5%;
}


